* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.obal {
    display: grid;
}



.pozadie1 {
    height: 50em; /* 800px */
    background-image: url(fotky/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main-menu {
    margin-top: 1.3em;
    display: flex;
    justify-content: center;
}

.main-menu .logo {
    display: flex;
    align-items: center;
}


.main-menu ul{
    display: grid;
    list-style: none;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 2fr 2fr;
    align-items: center;
}

.main-menu a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: 1.25rem;
}

.zenit {
    font-size: 1.7em;
}
.cloud {
    font-size: 1em;
    font-weight: 500;
    padding-left: 0.3em;
    padding-top: 9px;
}

.logo {
    display: flex;
    flex-direction: row;
}



.prekliky {
    width: 1140px;
    display: flex;
    justify-self: center;
}

.main-menu .uvod:hover {
    color: #3e51ea;
    transition: 0.5s ease;
}

.uvod {
    font-size: 1.1em;
    font-weight: 100;
}
.main-menu .onas:hover {
    color: #3e51ea;
    transition: 0.5s ease;
}

.main-menu .onas {
    font-size: 1.1em;
    font-weight: 100;
}

.main-menu .sluzby:hover {
    color: #3e51ea;
    transition: 0.5s ease;
}

.main-menu .sluzby {
    font-size: 1.1em;
    font-weight: 100;
}

.main-menu .kontakt:hover {
    color: #3e51ea;
    transition: 0.5s ease;
}

.main-menu .kontakt {
    font-size: 1.1em;
    font-weight: 100;
}

.ciarka-vrch {
    border: 1px solid white;
    width: 100%;
    margin-top: 1.3em;
    opacity: 0.30;

}

.button-prihlasit {
    margin-left: 4em;
}


.prihlasit {
    width: 9em;
    height: 3em;
    background: none;
    border: 0.05rem solid white;
    color: white;
}

.prihlasit:hover {
    color: #00A4B9;
    background-color: white;
    transition: 0.5s ease;

}

.registrovat {
    width: 11em;
    height: 40px;
    background: none;
    background-color:  #00BCD4;
    border: none;
    color: white;
}

.registrovat:hover {
    background-color: #00A4B9;
}


.input-domena {
    background: none;
    width: 46em;
    height: 3.3em;
    border: 0.2em solid rgb(255, 255, 255);
    margin-right: 1rem;
}

/* zarovnanie domena input text + vyhladaj button */
.domena_button {
    display: flex;
    justify-content: center;
}

/* zarovnanie checkboxov */
.checkboxy {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    color: white;
}

.gap {
    margin-left: 2rem;
}

.checkboxy p {
    padding-left: 10px;
}


.blok-vyhladavanie h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 3rem;
    font-size: 2.3em;
}

.input-domena::placeholder {
    padding-left: 1em;
    font-size: 1.2em;
    color: white;
    opacity: 0.5;
}

.blok-vyhladavanie {
    width: 50em;
    height: 165px;
    margin: auto 0;
}
/* tu začína 2. sekcia - text (hostingove služby) + grid 3x peniaze */

.pozadie2 {
    height: 60em;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.vyhladat {
    background-color:#00bcd4;
    width: 12em;
    height: 49.31px;
    color: white;
    border: none;
}

.text {
    display: grid;
    width: 71.25em;
    margin-top: 10em;

}

.text h3 {
    color: #1e1e1e;
}

.stlpce p {
    color: #6a6a6a;
}
.riadok1 {
    color: #00bcd4;
    margin-bottom: 0.8rem;
    font-weight: 600;
}

.riadok2 {
    color: #1e1e1e;
}
.riadok3 {
    margin-top: 0.8rem;
    color: #6a6a6a;
}

.stlpce {
    width: 71.25em;
    display: grid;
    grid-template-columns: repeat(3, 22.41666666666667em);
    grid-template-rows: 25em;
    gap: 2em;
    justify-content: center;
    margin-top: 7em;
    text-align: center;

}

.stlpec1 {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.6em;
    border-radius: 0.3em;
}

.stlpec1 h3 {
    margin-bottom: 2rem;
}

.stlpec2 {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.3em;
    border-radius: 0.3em;
}

.stlpec2 h3 {
    margin-bottom: 2rem;
}

.stlpec2 a{
    text-decoration: none;
    color: rgb(20, 99, 247);
}

.stlpec3 {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.3em;
    border-radius: 0.3em;
}

.stlpec3 h3 {
    margin-bottom: 2rem;
}

.fa-database::before {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00BCD4;
    border-radius: 50%;
    margin-bottom: 2rem;
    width: 5.5rem;
    height: 5.5rem;
}

/* tu začína 3. pozadie, konfiguracia cloud hostingu, stlpce */

.pozadie3 {
    background: url(fotky/pricing-bg.jpg);
    height: 31.25em; /*500px*/
    background-position: center;
    background-size: cover;
}

.text2 {
    display: grid;
    color: white;
    font-family: Roboto;
    justify-content: center;
    text-align: center;
    margin: 4rem 0;
}

.text2 h1 {
    margin-bottom: 2rem;
}

.pozadie4 {
    background-color: white;
    height: 40em;
    z-index: 0;
}

/* tu robím 3 grid panely s fajkami a btnmi */

.panely {
    display: grid;
    grid-template-columns: repeat(3, 22em);
    grid-template-rows: 45em;
    gap: 1.75em;
    justify-content: center;
    text-align: center;
    
}

.fa-check {
    color: blue;
}

.stlpec4 {
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 3px #6a6a6a;
}
    


.stlpec5 {
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 3px #6a6a6a;
}

.stlpec6 {
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 3px #6a6a6a;
}

.panely h3 {
    color: #1e1e1e;
    text-transform: uppercase;
    margin: 2.3rem 0;
}

.sirka_riadka {
    line-height: 2.8rem;
}

.podfarbenie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00BCD4;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.3rem;
    width: 17em;
    height: 7em;
}

.podfarbenie_vylepsene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: linear-gradient(60deg, #7202BB, #3264f5);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.3rem;
    width: 17em;
    height: 7em;
}

.sivy {
    color: #6a6a6a;
}
.ciarka {
    margin: 2.3rem 0;
    color: #6a6a6a;
    opacity: 0.2;
}

.vybrat_cloud {
    width: 11em;
    height: 3.5em;
    background-color: #00bcd4;
    border: none;
    color: white;
    text-transform: uppercase;
    margin-top: 3.11rem;
}

.vybrat_cloud:hover {
    background-color: #00A4B9;
}


.vybrat_cloud_vylepseny {
    width: 11em;
    height: 3.5em;
    background: linear-gradient(60deg, #7202BB, #3264f5);
    border: none;
    color: white;
    text-transform: uppercase;
    margin-top: 3.11rem;
}

.vybrat_cloud_vylepseny:hover {
    background: linear-gradient(60deg, #3264f5, #7202BB);
}

.lavy {
    width: 17em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* tu zacina 5. pozadie (napísali o nás..) */

.pozadie5 {
    height: 55em;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.text3 {
    display: grid;
    width: 71.25em;
    
}

.riadok4 {
    color: #00bcd4;
    margin-top: 5.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.riadok5 {
    color: #1e1e1e;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.fa-quote-right::before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    margin-top: 7rem;
    background: linear-gradient(60deg,#7202BB, #3264f5);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.riadok6 {
    color: #6a6a6a;
    margin-top: 5rem;
    padding: 0 10rem;
    line-height: 2rem;
    font-size: 1.1rem;
    font-style: italic;

}

.text3 h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.riadok7 {
    color: #00bcd4;
    margin-bottom: 1.5rem;
    font-weight: 500;

}

.bodky {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #00bcd4;
    font-size: 3rem;
}

.druha_bodka {
    opacity: 0.7;
}

.tretia_bodka {
    opacity: 0.4;
}

/* tu začína footer */

.pozadie6 {
    display: flex;
    height: 31.25em;
    background-image: url(fotky/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;

}
.footer {
    height: 15em;
    margin-top: 6rem;
    width: 71.25em;
    display: grid;
    grid-template-columns: 14em 41.25em 16em;
    grid-template-rows: 15em;
    gap: 2em;
    align-items: flex-start;
    
}

.footer h2 {
    color: white;
    margin-bottom: 2rem;
}

.stlpec7 p {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}

.stlpec8 p {
    color: white;
    font-weight: 400;
    padding-right: 2em;
}

.stlpec9 p {
    color: white;
}

.text4 {
    width: 71.25em;
    height: 5em;
    display: grid;
    flex-direction: row;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}


.ciarka-spodok {
    border: 1px solid white;
    width: 74em;
    margin-top: 1.3em;
    opacity: 0.30;
}



.footer-text {
    margin-top: 2.5rem;
}

.tensi-text {
    font-weight: 300;
    letter-spacing: 2px;
    padding-left: 10px;
}

.stlpec9 div{
    display: flex;
    flex-direction: row;

}